<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            Copyright 2019
            <a class="grey-text text-lighten-4 right" href="/articles-json"> Article JSON </a>
        </div>
    </div>
</footer>