<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center"> newsApp </a>
        <ul class="right" id="nav-mobile">
            <li> <a href="/scrape"> Scrape </a>  </li>
            <li> <a href="https://github.com/Jimbomoso/newsApp" target="_blank"> Git Repo </a> </li>
        </ul>
    </div>
</nav>